:root {
  --smooth: all 0.5s ease;
  --smooth-show-on-scroll: opacity 0.7s ease-in, transform 0.7s ease-in;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  scroll-behavior: smooth;
  transition: var(--smooth);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.section {
  /* width: 100%; */
  height: auto;
  padding: 130px 0;
  transition: var(--smooth);
}

/* Cusstom Code */
.hover-link {
  position: relative;
}

.hover-link::before {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #282c34;
  transition: var(--smooth);
}

.hover-link:hover.hover-link::before {
  width: 100%;
}

.btn-dark {
  transition: var(--smooth);
}

.btn-dark:hover {
  background: #fff;
  color: #282c34;
}

.card {
  transition: var(--smooth);
}

.card:hover {
  transform: rotate(1deg) translateY(3%);
  transition: var(--smooth);
}

.hidden-element {
  transform: translateY(20px);
  filter: blur(5px);
  opacity: 0;
  transition: var(--smooth-show-on-scroll);
}

.visible {
  transform: translateY(0);
  filter: blur(0);
  opacity: 1;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.97);
  overflow-x: hidden;
  transition: var(--smooth);
}

.overlay-content {
  position: relative;
  top: 15%;
  height: 70%;
  text-align: center;
  margin-top: 30px;
}

.overlay-content ul {
  list-style: none;
}

.overlay-content a {
  position: relative;
  padding: 8px;
  text-decoration: none;
  font-size: 4rem;
  color: #818181;
  transition: var(--smooth);
}

.overlay-content .navbar-hover-link::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -55%;
  width: 0;
  height: 5px;
  background: #fff;
  color: #fff;
  transition: var(--smooth);
}

.navbar-hover-link:hover.navbar-hover-link::after {
  width: 100px;
}

.navbar-brand {
  transition: var(--smooth);
}

.navbar-brand:hover {
  color: #999999;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 80px;
  color: #adadad;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.sticky-header {
  clear: both;
  position: sticky;
  top: 0;
}

/* Projects */
.projects {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
  transition: var(--smooth);
}

.project-item {
  position: relative;
  height: 600px;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  text-align: left;
  /* filter: gray;
  -webkit-filter: grayscale(0.65); */
  /* filter: brightness(75%) contrast(110%) saturate(25%) brightness(150%); */
  transition: var(--smooth);
}

.item-content {
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  color: #fff;
  transition: var(--smooth);
}

.overlay-project {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  transition: var(--smooth);
}

.item-content-overlay>* {
  transform: translateY(20px);
  opacity: 0;
  transition: var(--smooth);
}

.project-item:hover .item-content {
  opacity: 0;
  transform: translateY(-20px);
}

.project-item:hover .overlay-project {
  opacity: 1;
}

.project-item:hover .item-content-overlay>* {
  transform: translateY(0);
  opacity: 1;
}

.delay-200 {
  transition-delay: 200ms;
}

.delay-400 {
  transition-delay: 400ms;
}

.delay-1000 {
  transition-delay: 1000ms;
}

/* ScrollTop button */
.scrollTopButton {
  position: fixed;
  bottom: 20px;
  right: 30px;
  border-radius: 50%;
  transition: var(--smooth);
}

.scrollTopButton span {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  transition: var(--smooth);
}

.scrollTopButton:hover span {
  background: rgba(0, 0, 0, 0.85);
  color: rgba(241, 241, 241, 0.3);
}

/* About */
.about-introduce {
  padding: 0 150px;
}

@media (max-width:1000px) {
  .about-introduce {
    padding: 0 50px;
  }
}

@media (max-width:770px) {
  .about-introduce {
    padding: 0;
  }
}

/* Contact */
#contact {
  padding: 0;
}

/* Footer */
.text-line-end {
  position: relative;
}

.text-line-end::after {
  content: '';
  position: absolute;
  bottom: 25%;
  right: -28%;
  width: 30px;
  height: 4px;
  background: #000;
}

/* Loading */
.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* background: rgb(11, 14, 31); */
  background: #0f141eff;
  z-index: 100000;
  top: 0;
  color: #c5c5c5;
  transition: var(--smooth);
}

.loading .loadingImage {
  width: 100vw;
  height: 100vh;
  margin: -4%;
  object-fit: cover;
  object-position: center;
  opacity: 0.1;
  z-index: -1;
}

.loading .infinity-water {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  opacity: 1;
  border-radius: 50%;
  background: #e7e7e7;
  box-shadow: 5px 5px 5px 5px #cecece4d;
  animation: waterEffect 1s ease infinite;
  transition: var(--smooth);
}

@keyframes waterEffect {
  from {
    width: 0;
    height: 0;
    opacity: 1;
  }

  to {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}

.loading-fade-out {
  animation-name: fade-out;
  animation-duration: 0.6s;
  animation-delay: 4s;
  transition: var(--smooth);
}

@keyframes fade-out {
  0% {
    opacity: 1;
    height: 100vh;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}

.img-loading-logo {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}