:root {
  --smooth: all 0.5s ease;
  --smooth-show-on-scroll: opacity 0.7s ease-in, transform 0.7s ease-in;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  scroll-behavior: smooth;
  transition: var(--smooth);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.section {
  /* width: 100%; */
  height: auto;
  padding: 130px 0;
  transition: var(--smooth);
}

#home {
  height: 100vh;
  padding: auto 0;
  margin: auto 0;
}

/* Cusstom Code */
.hover-link {
  position: relative;
}

.hover-link::before {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #282c34;
  transition: var(--smooth);
}

.hover-link:hover.hover-link::before {
  width: 100%;
}

.btn-dark {
  transition: var(--smooth);
}

.btn-dark:hover {
  background: #fff;
  color: #282c34;
}

/* .card {
  transition: var(--smooth);
}

.card:hover {
  transform: rotate(1deg) translateY(3%);
  transition: var(--smooth);
} */

.hidden-element {
  transform: translateY(20px);
  filter: blur(5px);
  opacity: 0;
  transition: var(--smooth-show-on-scroll);
}

.visible {
  transform: translateY(0);
  filter: blur(0);
  opacity: 1;
}

/* Email fixed bottom */
.email-fixed-bottom {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: var(--smooth);
}

.email-fixed-bottom:hover {
  background: #0f141eff;
  color: #fff;
  transition: var(--smooth);
}



/* Menu */
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #0f141e;
  background-color: #0f141eff;
  overflow-x: hidden;
  transition: var(--smooth);
}

.overlay-content {
  /* position: relative;
  top: 15%;
  height: 70%;
  text-align: center;
  margin-top: 30px; */
  height: 100vh;
}

.overlay-content ul {
  list-style: none;
  padding: 0;
}

.overlay-content a {
  position: relative;
  padding: 8px;
  text-decoration: none;
  font-size: 5rem;
  color: #818181;
  transition: var(--smooth);
}

@media screen and (max-width:1460px) {

  .overlay-content a {
    font-size: 3.6rem;
  }
}

.navbar-hover-link {
  position: relative;
  overflow: hidden;
}

.navbar-hover-link.Projects:hover::before {
  content: "";
  position: absolute;
  top: -150%;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("https://images.pexels.com/photos/15118791/pexels-photo-15118791/free-photo-of-a-person-holding-a-picture.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load");
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  opacity: 0.25;
  width: 400px !important;
  height: 400px !important;
  z-index: -1;
  transition: var(--smooth);
}

.navbar-hover-link.About:hover::before {
  content: "";
  position: absolute;
  top: -150%;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("https://images.pexels.com/photos/17216968/pexels-photo-17216968/free-photo-of-sitting-in-chair-man-admiring-idyllic-landscape.jpeg?auto=compress&cs=tinysrgb&w=400");
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  opacity: 0.25;
  width: 400px !important;
  height: 400px !important;
  z-index: -1;
}

.navbar-hover-link.Contact:hover::before {
  content: "";
  position: absolute;
  top: -150%;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("https://images.pexels.com/photos/1416530/pexels-photo-1416530.jpeg?auto=compress&cs=tinysrgb&w=400");
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  opacity: 0.25;
  width: 400px !important;
  height: 400px !important;
  z-index: -1;
}

.overlay-content .navbar-hover-link::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -55%;
  width: 0;
  height: 5px;
  background: #fff;
  color: #fff;
  transition: var(--smooth);
}

.navbar-hover-link:hover.navbar-hover-link::after {
  width: 100px;
}

.navbar-brand {
  transition: var(--smooth);
}

.navbar-brand:hover {
  color: #999999;
}

/* .overlay-navbar {
  overflow: hidden;
  position: relative;
  position: relative;
  z-index: 0;
}

.overlay-navbar:before {
  content: '';
  filter: blur(20px);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
} */

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 80px;
  color: #adadad;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.sticky-header {
  clear: both;
  position: sticky;
  top: 0;
}

/* Hero */
.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1100px;
}

.hero-content-container {
  max-width: 1100px;
}

@media screen and (max-width:654px) {
  .hero-content-container {
    margin-top: 350px;
    padding: 0 80px !important;
  }

  #home {
    height: 150vh;
  }
}

@media screen and (max-width:450px) {
  .hero-content-container {
    margin-top: 200px;
    padding: 0 50px !important;
  }

  #home {
    height: 130vh;
  }
}

@media screen and (max-width:1100px) {
  .hero-content-container {
    padding: 0 100px;
  }
}

/* Projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  /* grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr)); */
  transition: var(--smooth);
}

.project-item {
  position: relative;
  min-height: 600px;
  min-width: 300px;
  width: max-content;
  height: auto;
  background-position: center center;
  background-size: cover;
  object-fit: contain;
  object-position: center;
  cursor: pointer;
  text-align: left;
  /* filter: gray;
  -webkit-filter: grayscale(0.65); */
  /* filter: brightness(75%) contrast(110%) saturate(25%) brightness(150%); */
  transition: var(--smooth);
}

.item-content {
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  color: #fff;
  transition: var(--smooth);
}

.overlay-project {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.85); */
  background: rgba(15, 20, 30, 0.95);
  transition: var(--smooth);
}

.item-content-overlay>* {
  transform: translateY(20px);
  opacity: 0;
  transition: var(--smooth);
}

.project-item:hover .item-content {
  opacity: 0;
  transform: translateY(-20px);
}

.project-item:hover .overlay-project {
  opacity: 1;
}

.project-item:hover .item-content-overlay>* {
  transform: translateY(0);
  opacity: 1;
}

.delay-200 {
  transition-delay: 200ms;
}

.delay-400 {
  transition-delay: 400ms;
}

.delay-1000 {
  transition-delay: 1000ms;
}

/* ScrollTop button */
.scrollTopButton {
  position: fixed;
  bottom: 20px;
  right: calc(10% + 7vw);
  border-radius: 50%;
  transition: var(--smooth);
}

@media screen and (max-width:1768px) {
  .scrollTopButton {
    right: calc(10% + 2%);
  }
}

@media screen and (max-width:1615px) {
  .scrollTopButton {
    right: 10%;
  }
}

@media screen and (max-width:1500px) {
  .scrollTopButton {
    right: 5%;
  }
}

@media screen and (max-width:1300px) {
  .scrollTopButton {
    right: 2%;
  }
}

.scrollTopButton span {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  transition: var(--smooth);
}

.scrollTopButton:hover span {
  background: rgba(0, 0, 0, 0.85);
  color: rgba(241, 241, 241, 0.3);
}

/* About */
.about-introduce {
  padding: 0 150px;
}

@media (max-width:1000px) {
  .about-introduce {
    padding: 0 50px;
  }
}

@media (max-width:770px) {
  .about-introduce {
    padding: 0;
  }
}

/* Contact */
#contact {
  padding: 0;
}

/* Footer */
.text-line-end {
  position: relative;
}

.text-line-end::after {
  content: '';
  position: absolute;
  bottom: 25%;
  right: -28%;
  width: 30px;
  height: 4px;
  background: #000;
}

/* Loading */
.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* background: rgb(11, 14, 31); */
  background: #0f141eff;
  z-index: 100000;
  top: 0;
  color: #c5c5c5;
  transition: var(--smooth);
}

.loading .loadingImage {
  width: 100vw;
  height: 100vh;
  margin: -4%;
  object-fit: cover;
  object-position: center;
  opacity: 0.1;
  z-index: -1;
}

.loading .infinity-water {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  opacity: 1;
  border-radius: 50%;
  background: #e7e7e7;
  /* box-shadow: 5px 5px 5px 5px #cecece4d; */
  animation: waterEffect 1s ease infinite;
  transition: var(--smooth);
}

@keyframes waterEffect {
  from {
    width: 0;
    height: 0;
    opacity: 1;
  }

  to {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

.loading-fade-out {
  animation-name: fade-out;
  animation-duration: 0.6s;
  animation-delay: 2s;
  transition: var(--smooth);
}

@keyframes fade-out {
  0% {
    opacity: 1;
    height: 100vh;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}

.img-loading-logo {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

/* Menu */
.menu-link.active {
  color: rgb(221, 221, 221);
}

.menu-link.active.navbar-hover-link::after {
  width: 100px;
}

/* Project Page */
.project-page-img {
  height: 500px;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

/* Main styles */
.hero-background {
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}